.youtube-video{
    text-align: center;
}

.comment-section{
    text-align: center;
    border: red 1px solid;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
}


.video-page{
    display: grid;
    grid-template-columns: 75% 25%;
}
