header{
    text-align: center;
    border: red solid 1px;
    background-color: red;
    height:60px;
    font-size: 20px;
}

nav{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin-top: 10px;
}



.nav-links{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    margin-top: 5px;
    text-align: center;
}

.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

a:link{
    color: white;
}

a:visited{
    color: white
}

.logo{
    font-weight: bold;
    font-size: 25px;
}
  